<div class="container">
    <h1>Cadastrar novo contato</h1>
    <form action="/cadastro" method="POST">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" placeholder="Informe o nome">

        <label for="nick_name">Nick Name:</label> <!-- Corrigido -->
        <input type="text" name="nick_name" id="nick_name" placeholder="Informe o nick name">

        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email" placeholder="Informe o e-mail">

        <label for="telefone">Telefone:</label>
        <input type="text" name="telefone" id="telefone" placeholder="Informe o número do telefone">

        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="senha" placeholder="Informe a senha">

        <button type="submit">Cadastrar</button>
    </form>
</div>