/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Change to column for vertical layout */
    min-height: 100vh; /* Ensure the body takes up full viewport height */
}

/* Estilo do container principal */
.container {
    margin-top: 10px; /* Adjust the value as needed */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Estilo do título */
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
}

/* Estilo dos rótulos */
label {
    font-size: 14px;
    font-weight:bold;
    color: #555555;
    margin-bottom: 5px;
    display: block;
}

/* Estilo dos campos de entrada */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

/* Estilo do botão */
button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.btn {
    width: auto;
    height: 42px;;
}

.saudacao{
    padding: 10 10 10 10;
}
.saudacao p{
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}